<% provide(:title, 'About') %>
<h1>About TimeStamp</h1>
<p>
  TimeStamp is an application for computing document hashes, adding in the time of the computation, and returning an object that can prove the file existed
  with specified content when the hash was created.
</p>
