<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to TimeStamp</h1>
  <h2>
    This is the home page for TimeStamp.
  </h2>
  <% if user_signed_in? %>
    <div class="row">
      <div class="well" id="drop_area">
        <h2>Drag your file here!</h2>
      </div>
      <table id="drop_result" class="table table-bordered table-striped" style="visibility: hidden">
        <thead>
          <tr>
            <th class = "span1"><button class="btn btn-primary">Save all</button></th>
            <th class = "span8">File Name</th>
            <th class = "span2">File Type</th>
          </tr>
        </thead>
        <tbody id="drop_table">
        </tbody>  
      </table>
    </div>
  <% else %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

